@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-text-h: var(--text-h);
  --color-bg: var(--bg);
  --color-border: var(--border);
  --color-code-bg: var(--code-bg);
  --color-accent: var(--accent);
  --color-accent-bg: var(--accent-bg);
  --color-accent-border: var(--accent-border);
  --color-social-bg: var(--social-bg);
  --color-nav: var(--nav);
  --color-nav-text: var(---nav-text);
  --color-nav-active: var(---nav-active);

  --font-sans: var(--sans);
  --font-heading: var(--heading);
  --font-mono: var(--mono);
}

:root {
  --background: oklch(0.9816 0.0017 247.84); /* #f8f9fa */
  --foreground: oklch(0 0 0); /* #000000 */
  --primary: red;
  --text-h: #08060d;
  --bg: #fff;
  --border: oklch(0.82 0 1);  /* #c4c4c4 */
  --code-bg: #f4f3ec;
  --accent: oklch(0.9095 0 0); /* #e1e1e1 */
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
:root {
  --background: oklch(17.005% 0.00526 67.383);
  --foreground: oklch(0.95 0.018 85);

  --nav: oklch(0.23 0.018 55);
  --nav-text: oklch(0.93 0.015 85);
  --nav-active: oklch(0.50 0.075 58);

  --primary: oklch(0.50 0.075 58);
  --primary-foreground: oklch(0.97 0.012 85);

  --text-h: oklch(0.93 0.015 85);
  --bg: oklch(0.21 0.015 55);

  --border: oklch(0.72 0.018 75 / 18%);
  --code-bg: oklch(0.25 0.018 55);

  /* gris cálido de grafito */
  --accent: oklch(0.74 0.01 85);

  --accent-bg: oklch(0.50 0.075 58 / 12%);
  --accent-border: oklch(0.50 0.075 58 / 45%);
}
}
